services:
  traefik:
    image: traefik:v3.6.2
    container_name: traefik_proxy
    restart: unless-stopped
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
    ports:
      - "80:80"     
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro

  websocket-server:
    build: ./server
    restart: unless-stopped
    expose:
      - "8000"
    volumes:
      - ./server:/src
    env_file:
      - ./.env
    depends_on:
      - redis
    command: [ "uvicorn", "app.main:app", "--host", "0.0.0.0", "--port", "8000", "--reload" ]
    
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.websocket-server.rule=Host(`localhost`)" 
      - "traefik.http.routers.websocket-server.entrypoints=web"
      - "traefik.http.services.websocket-server.loadbalancer.server.port=8000"
      # Rate Limiting Middleware
      - "traefik.http.routers.websocket-server.middlewares=ratelimit"
      - "traefik.http.middlewares.ratelimit.ratelimit.average=20"
      - "traefik.http.middlewares.ratelimit.ratelimit.burst=10"
      - "traefik.http.middlewares.ratelimit.ratelimit.period=1s"

  redis:
    image: redis:alpine3.22
    container_name: redis_broker
    restart: unless-stopped
    command: redis-server --save "" --loglevel warning --requirepass "${REDIS_PASSWORD}"